<button type="button" class="btn btn-sm btn-primary openCart">
    Корзина
</button>
<button type="button" class="btn btn-sm btn-primary prodList">
    Список товарів
</button>
<button type="button" class="btn btn-sm btn-primary ordersList">
    Список замовлень
</button>
<button type="button" class="btn btn-sm btn-primary categoriesList">
    Список категорій
</button>
<button type="button" class="btn btn-sm btn-primary producersList">
    Список виробників
</button>
<button type="button" class="btn btn-sm btn-primary cabinetBtn">
    Особистий кабінет
</button>
<button type="button" class="btn btn-sm btn-primary loginBtn">
    Вхід в систему
</button>